<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <video id="video" controls preload="auto" poster="{{ args.poster }}" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; background: #000;">
    </video>
    <noscript>
      <p>To view this video please enable JavaScript</p>
    </noscript>
    <script src="https://unpkg.com/hls.js/dist/hls.min.js"></script>
    <script>
      // https://github.com/video-dev/hls.js/blob/master/demo/basic-usage.html
      const video = document.getElementById('video');
      if ('{{ args.type }}' == 'video/mp4' || '{{ args.type }}' == 'video/webm') {
        const source = document.createElement('source');
        source.src = '{{ args.src }}';
        source.type = '{{ args.type }}';
        video.appendChild(source);
      } else {
        if (Hls.isSupported()) {
          var hls = new Hls({
            debug: true,
          });
          hls.loadSource('{{ args.src }}');
          hls.attachMedia(video);
          hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            //video.muted = true;
            video.play();
          });
        }
        // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
        // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
        // This is using the built-in support of the plain video element, without using hls.js.
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = '{{ args.src }}';
          video.addEventListener('canplay', function () {
            video.play();
          });
        }
      }
    </script>
  </body>
</html>